@media ( max-width : 800px ) {

  .container-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 30px;
    margin-top: 6%;
    position: relative;
  }

  .button-categories {
    background-color: #ffc107;
    border: #ffc107;
    border-radius: 6px;
    color: white;
    font-weight: 400;
    height: 35px;
    margin-top: 5px;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 110px;
  }

  .button-categories :focus {
    margin-bottom: 10px;
  }

  .button-categories p {
    color: #797d86;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: 11px;
    text-align: center;
  }
}
