.container-categories {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-top: 6%;
  position: relative;
  width: 100%;
  align-items: center;
  gap: 5px;
}


  .button-categories {
    background-color: #ffc107;
    border: #ffc107;
    border-radius: 6px;
    color: white;
    font-weight: 400;
    height: 35px;
    margin-top: 5px;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
  }

  .button-categories :focus {
    margin-bottom: 10px;
  }

  .button-categories p {
    color: #797d86;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: 11px;
    text-align: center;
  }

