.recipes-page {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 7%;
  padding-top: 20px;
  width: 100%;
  height: 100%;
}

.container-categories {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-top: 6%;
  position: relative;
  width: 100%;
  align-items: center;
  gap: 5px;
  z-index: 0;
}

.container-categories>button {
  background-color: #ffc107;
  border: #ffc107;
  border-radius: 6px;
  color: white;
  font-weight: 400;
  height: 35px;
  margin-top: 5px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
}

.container-categories>button :focus {
  margin-bottom: 10px;
}

.container-categories>button>p {
  color: #797d86;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: 11px;
  text-align: center;
}

.title-page {
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.105em;
  text-transform: uppercase;
  color: #41197F;
}

.imgDone { 
  margin-top: 4%;
  width: 40%;
}
.imgDone>img { 
  margin-bottom: 4%;
}

.card-done-recipe {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 90%;
  height: 50%;
  left: 19px;
  top: 298px;
  background: #FFFFFF;
  border: 0.517989px solid #B1B1B1;
  border-radius: 5px;
}

.card-done-recipe >img {
  width: 163.35px;
  height: 134.85px;
  left: 19px;
  top: 298px;
  border-radius: 5px 0px 0px 5px;
}

.infoTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;

  color: #1A1B1C;
}

.infoName {
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 12px;
  text-align: center;

  color: #797D86;
}

.shareBtnDone {
  display: flex;
  flex-direction: row;
  width: 50%;
}
