.mealsComponent {
  background-color: white;
}

.card-name {
  background: white;
  border: 0.518px solid #b1b1b1;
  border-radius: 5px;
}

.card-name-img {
  border-radius: 5px 5px 0 0;
  display: flex;
  height: 134.85px;
  width: 163.35px;
}

.recipes-container {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  padding-bottom: 50px;
}

p {
  color: #1a1b1c;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  margin-block-end: 0;
  margin-block-start: 4px;
  margin-inline-end: 0;
  margin-inline-start: 0;
  text-align: center;
}

a:link {
  text-decoration: none;
}

.cabecalho-img-name {
  align-items: center;
  display: flex;
  margin-top: 40px;
}

.cabecalho-img-name p {
  color: #41197f;
  font-family: 'Epilogue';
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.105em;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.iconePrato {
  height: 29.53px;
  width: 40.33px;
}
