  .menuNav{
    top: 0;
    background: #fcdc36;
    height: 52px;
    position: fixed;
    width: 100%;
    max-width: 640px;
    z-index: 1;
  }

  .searchTopBtn {
    background-color: #fcdc36;
    margin-right: 1%;
  }

  .searchTopBtn:active {
    margin-bottom: 10px;
  }

  .logoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1%;
  }

  .iconeHeader {
    height: 39.28px;
    margin-left: 1%;
    width: 42.6px;
  }

  .iconeLogo {
    height: 16.97px;
    margin-left: 1%;
    margin-top: 1%;
    width: 109.13px;
  }
