.linkedin {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.linkedin > a > img {
  height: 50px;
  width: 50px;
}

.linkedin > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.linkedin-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

h6 {
  color: darkgray;
}
