.initiate-recipe-butt {
  background: #fcc436;
  border-radius: 5px;
  bottom: 0;
  height: 40px;
  left: 12px;
  position: fixed;
  width: 336px;
  margin-bottom: 10px;
}

.recipe-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
}

.img-recipe {
  position: absolute;
  width: 362.01px;
  height: 200px;
  left: -2px;
  top: 0px;
  overflow:hidden;
  filter: brightness(76%);
  border-radius: 0px;
  
}

/*  .share-heart {
  /* position: absolute;
  left: 85.28%;
  right: 8.36%; */
  /* top: 2%; */
  /* bottom: 97.27%; 
  background: none;
  border: none;
} */

/* .share-btn {
   position: absolute;
  left: 76.67%;
  right: 13.77%; */
  /* top: 1.39%; */
  /* bottom: 98.22%; 
  background: none;
  border: none;
} */

.recipe-recom {
  text-align: center;
  width: 100%;
}

.name {
  font-size: 20px;
  font-weight: 900;
  margin: 0 auto;
}

.checked {
  text-decoration: line-through solid black;
}

.mealInformation {
  margin-top: 230px;
}
.carousel {
  margin-bottom: 60px;
  width: 100%;
}

.Fundobranco {
  background-color: white;
}

.sobreporIMG {
  position: absolute;
  width: 147px;
  height: 42px;
  left: 109.01px;
  top: 81px;

  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.105em;
  text-transform: uppercase;

  color: #FFFFFF;
}

h3 {
  width: 142.8px;
  height: 21px;
  left: 23.01px;
  top: 197px;
  
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height */
  
  
  color: #1A1B1C;
  }

  .text-desciption {
    box-sizing: border-box;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 335px;
    height: 414px;
    left: 13px;
    top: 426px;
  
    background: #FFFFFF;
    border: 0.554397px solid #B1B1B1;
    border-radius: 5.35144px;
  }

  .text-desciption p {
    margin-top: 14px;
    margin-left: 10px;
    width: 301px;
    height: 368px;
    text-align:left;
    
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    
    color: #1A1B1C;
  }
  
  .text-list {
    box-sizing: border-box;
    width: 93%;
    height: 30%;
    margin-left: 10px;
    background: #FFFFFF;
    border: 0.554397px solid #B1B1B1;
    border-radius: 5.35144px;
  }
  
  .text-list li {
  text-align: left;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin-top: 6px;
  color: #1A1B1C;
  }
